/*************** general ***************/

html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #fafafa;
    height: 100%;
    margin: 0;
}

.hr-1 {
    width: 25%;
}

a {
    color: inherit;
}

.divider {
    margin: 1rem;
}

.main-body {
    min-height: 93vh;
    margin-bottom: -150px;
}

.btn,
.btn-large {
    background-color: rgb(53, 168, 83);
}

.btn:hover,
.btn-large:hover {
    background-color: rgb(33, 148, 63);
}

.btn:focus,
.btn-large:focus {
    background-color: rgb(23, 138, 53);
}

.text-grey {
    color: rgb(109, 106, 106);
}

.text-green {
    color: #35a853;
}

.mt-10 {
    margin-top: 10vh;
}

.mb-5 {
    margin-bottom: 50px;
}

/*************** Navbar ***************/

nav {
    background-color: rgb(53, 168, 83);
}

#sidenav-overlay {
    background-color: rgba(0, 0, 0, 0);
}

#nav-icon {
    margin: 0;
    font-size: 2.1rem;
}

/*************** Footer ***************/

.page-footer {
    background-color: #fafafa;
    height: 150px;
}

#top-footer {
    background-color: #fafafa;
}

.page-footer .footer-copyright {
    background-color: rgba(109, 106, 106, 1);
}

#footer-logo {
    color: rgb(109, 106, 106);
    font-size: 2.1rem;
}

#footer-icon {
    color: rgb(109, 106, 106);
    font-size: 2.1rem;
    position: relative;
    top: 4px;
}

/*************** index.html ***************/

.section-img {
    max-width: 95%;
    padding-top: 25px;
}

.section-text p {
    font-size: 1.6rem;
}

#searchBar {
    margin-top: 5vh;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#searchBar:hover {
    font-size: 2.2rem;
}

/*************** REVU Page ***************/

.revu-img {
    min-height: 65vh;
    max-height: 90vh;
    margin: auto;
}

.spec-list {
    line-height: 4rem;
    font-size: 2rem;
    letter-spacing: 4px;
}

.revu-text {
    line-height: 2rem;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

/*************** Forms ***************/

#form {
    padding-top: 15%;
}

/*************** Media Queries ***************/

@media only screen and (min-width: 769px) {
    nav {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section-img {
        max-height: 33.3vh;
    }
}
