/*************** general ***************/

html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #fafafa;
    height: 100%;
    margin: 0;
}

.hr-1 {
    width: 25%;
}

a {
    color: inherit;
}

.divider {
    margin: 1rem;
}

.main-body {
    min-height: 93vh;
    margin-bottom: -150px;
}

.btn,
.btn-large {
    background-color: rgb(53, 168, 83);
}

.btn:hover,
.btn-large:hover {
    background-color: rgb(33, 148, 63);
}

.btn:focus,
.btn-large:focus {
    background-color: rgb(23, 138, 53);
}

.text-grey {
    color: rgb(109, 106, 106);
}

.text-green {
    color: #35a853;
}

.mt-10 {
    margin-top: 10vh;
}

.mb-5 {
    margin-bottom: 100px;
}

.d-inline-block {
    display: inline-block;
}

#delete-ac:hover {
    cursor: pointer;
}

.side-nav li>a {
    color: #35a853;
}

.justify-text {
    text-align: justify;
}

/*************** Navbar ***************/

nav {
    background-color: rgb(53, 168, 83);
}

#sidenav-overlay {
    display: none;
}

#nav-icon {
    margin: 0;
    font-size: 2.1rem;
}

/*************** Footer ***************/

.page-footer {
    background-color: #fafafa;
    height: 150px;
}

#top-footer {
    background-color: #fafafa;
}

.page-footer .footer-copyright {
    background-color: rgba(109, 106, 106, 1);
}

#footer-logo {
    color: rgb(109, 106, 106);
    font-size: 2.1rem;
}

#footer-icon {
    color: rgb(109, 106, 106);
    font-size: 2.1rem;
    position: relative;
    top: 4px;
}

/*************** index.html ***************/

.section-img {
    max-width: 95%;
    padding-top: 25px;
}

.section-text p {
    font-size: 1.6rem;
}

#searchBar {
    margin-top: 5vh;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#searchBar:hover {
    font-size: 2.1rem;
}

/*************** revu.html ***************/

.revu-img {
    max-width: 100%;
    height: auto;
    max-height: 100vh;
}

.spec-list {
    line-height: 4rem;
    font-size: 2rem;
    letter-spacing: 4px;
}

.spec-list .d-inline-block {
    width: 100%;
    font-weight: 500;
    margin-top: 50px;
}

.revu-text {
    line-height: 2rem;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

/*************** myrevus.html ***************/

.my-revus-btn {
    width: 120px;
}

.my-revus-btn .edit {
    margin: 20% 10px 20% 0;
}

.my-revus-btn .delete {
    margin: 40% 0 20% 10px;
}

/*************** Modal ***************/

#myModal {
    display: none;
}

.modal-content {
    display: none;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 150px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    text-align: center;
}

.modal-content .row {
    padding-bottom: 50px;
}

.closeModal {
    margin-left: 85%;
    margin-bottom: 25px;
    font-size: 2.5rem;
    font-weight: bold;
    width: 30px;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.closeModal:hover {
    transform: scale(1.2);
    opacity: 0.8;
    cursor: pointer;
}

#delete {
    margin-right: 20px;
}

/*************** Flash Messages ***************/

.flash {
    font-size: 2rem;
    letter-spacing: 4px;
    color: red;
}

/*************** Forms ***************/

#form {
    padding-top: 15%;
}

/*************** Media Queries ***************/

@media only screen and (min-width: 769px) {
    nav {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section-img {
        max-height: 33.3vh;
    }
}

@media only screen and (max-width: 767px) {
    .my-revus-btn {
        margin: 10px;
    }
}
