<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Icon font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Local stylesheet-->
    <link rel="stylesheet" href="../static/css/style.css">

    <title>{% block title %}{% endblock %} | REVU</title>
</head>

<body>
    <!-- Navbar -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo"><i id="nav-icon" class="material-icons">local_movies</i>REVU</a>
                <a href="{{ url_for('home') }}" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <!-- Navlinks -->
                <ul class="right hide-on-med-and-down">
                    <li class="{% block active1 %} {% endblock %}">
                        <a href="{{ url_for('home') }}">Browse</a>
                    </li>
                    <li class="{% block active2 %} {% endblock %}">
                        <a href="{{ url_for('new_revu') }}">New REVU</a>
                    </li>
                    <li class="{% block active3 %} {% endblock %}">
                        <a href="{{ url_for('home') }}">
                            <!------------------>My REVUs</a>
                    </li>
                    <li class="{% block active4 %} {% endblock %}">
                        <a href="{{ url_for('sign_out') }}">Sign Out</a>
                    </li>
                </ul>
                <!-- Mobile Navlinks-->
                <ul class="side-nav" id="mobile-demo">
                    <li class="{% block active5 %} {% endblock %}">
                        <a href="{{ url_for('home') }}">Browse</a>
                    </li>
                    <li class="{% block active6 %} {% endblock %}">
                        <a href="{{ url_for('new_revu') }}">New REVU</a>
                    </li>
                    <li class="{% block active7 %} {% endblock %}">
                        <a href="{{ url_for('home') }}">
                            <!------------------>my REVUs</a>
                    </li>
                    <li class="{% block active8 %} {% endblock %}">
                        <a href="{{ url_for('sign_out') }}">Sign Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Content -->
    <div class="container main-body">
        {% block searchbar %} {% endblock %} {% block content %} {% endblock %}
        <!-- Modal -->
        <div id="myModal" class="myModal">
            <div class="modal-content">
                <span class="closeModal">&times;</span>
                <h5>Are you sure?</h5>
                <div class="row">
                    <a href="{{ url_for('delete_ac') }}" id="delete" class="waves-effect waves-light btn modal-btn">Yes</a>
                    <span id="cancel" class="waves-effect waves-light btn modal-btn">No</span>
                </div>
            </div>
        </div>
        <!-- /Modal -->
    </div>

    <!-- Footer -->
    <footer class="page-footer center-align">
        <div id="top-footer" class="container">
            <div class="row">
                <div class="col-12 mt-10">
                    <a href="{{ url_for('home') }}" id="footer-logo"><i id="footer-icon" class="material-icons">local_movies</i>REVU</a>
                </div>
            </div>
        </div>
        <div id="btm-footer" class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col s3">
                        <span id="delete-ac" class="grey-text text-lighten-4">Delete account</span>
                    </div>
                    <div class="col s6">
                        © 2019 REVU
                    </div>
                    <div class="col s3">
                        <a class="grey-text text-lighten-4" href="{{ url_for('user_agreement') }}" target="_blank">User agreement</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Local JS script-->
    <script type="text/javascript" src="../static/js/script.js"></script>
</body>

</html>
