<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Icon font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Loca stylesheet-->
    <link rel="stylesheet" href="static/css/style.css">

    <title>{% block title %} {% endblock %} | REVU</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper valign-wrapper">
            <a href="{{ url_for('home') }}" class="brand-logo"><i id="nav-icon" class="material-icons">local_movies</i>REVU</a>
        </div>
    </nav>
    <div class="container main-body">
        <div class="row">
            <form class="col s12">
                {% block content %} {% endblock %}
            </form>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="page-footer">
        <div id="top-footer" class="container">
            <div class="row center-align">
                <a href="{{ url_for('home') }}" id="footer-logo">
                    <i id="footer-icon" class="material-icons">local_movies</i>REVU
                </a>
            </div>
        </div>
        <div id="btm-footer" class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="center-align">
                        © 2019 REVU
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Local JS script-->
    <script type="text/javascript" src="static/js/script.js"></script>
</body>

</html>
