{% extends 'base.html' %}

<!-- Page Title -->
{% block title %}Home{% endblock %}

<!-- Navbar Active Tabs -->
{% block active1 %} active {% endblock %}
{% block active5 %} active {% endblock %}

<!-- Searchbar -->
{% block searchbar %}<input type="text" id="searchBar" placeholder="Search for..." class="center-align">{% endblock %}

<!-- Page Content -->
{% block content %}
<!-- Site Welcome Message and Description -->
<h1 class="text-grey center-align mb-5">Welcome to REVU</h1>
<h4 class="text-grey center-align mb-5">The Home of Film Reviews</h4>
<h5 class="text-grey center-align mb-5">Create | Read | Update | Delete</h5>
{% for review in reviews %}

<!-- Review Link Section -->
<a class="outer" href="{{ url_for('view_revu', review_id=review._id) }}">
    <div class="section center-align">
        <div class="row">
            <!-- Film Image -->
            <div class="col s12 m4">
                <img class="section-img" src="{{ review.img_url }}"></img>
            </div>
            <!-- Film Facts -->
            <div class="col s12 m8 section-text">
                <h3 class="inner text-green">{{ review.title }}</h3>
                <hr class="hr-1 text-green">
                <p class="inner">Released {{ review.released }}</p>
                <p class="inner">Directed by {{ review.director }}</p>
                <p class="inner">{{ review.genre }}</p>
                <p class="inner">Rated {{ review.rating }} / 5</p>
            </div>
        </div>
    </div>
    <div class="divider"></div>
</a>

{% endfor %}
{% endblock %}