{% extends 'base.html' %}

<!-- Page Title -->
{% block title %}New REVU{% endblock %}

<!-- Navbar Active Tabs -->
{% block active2 %} active {% endblock %}
{%block active6 %} active {% endblock %}

<!-- Page Content -->
{% block content %}

<h3 class="text-green center-align">New REVU</h3>
<div class="divider"></div>

<div class="row center-align">
    <!-- Form -->
    <form class="col s12 mb-5">
        <!-- Film Title -->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="title" class="materialize-textarea" required></textarea>
                <label for="title">Title</label>
            </div>
        </div>
        <!-- Film Rating -->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="rating" class="materialize-textarea" required></textarea>
                <label for="rating">Rating out of 5</label>
            </div>
        </div>
        <!-- Film Image URL -->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="img-url" class="materialize-textarea" required></textarea>
                <label for="img-url">Image URL</label>
            </div>
        </div>
        <!-- Film Plot -->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="plot" class="materialize-textarea" required></textarea>
                <label for="plot">Plot</label>
            </div>
        </div>
        <!-- Film Review -->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="review" class="materialize-textarea" required></textarea>
                <label for="review">Review</label>
            </div>
        </div>
        <!-- Release Date -->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="released" class="materialize-textarea" required></textarea>
                <label for="released">Release date</label>
            </div>
        </div>
        <!-- Director -->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="director" class="materialize-textarea" required></textarea>
                <label for="director">Directed by</label>
            </div>
        </div>
        <!-- Writer(s)-->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="writers" class="materialize-textarea" required></textarea>
                <label for="writers">Written by</label>
            </div>
        </div>
        <!-- Producer -->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="producer" class="materialize-textarea" required></textarea>
                <label for="producer">Produced by</label>
            </div>
        </div>
        <!-- Starring -->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="starring" class="materialize-textarea" required></textarea>
                <label for="starring">Starring</label>
            </div>
        </div>
        <!-- Run Time -->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="run-time" class="materialize-textarea" required></textarea>
                <label for="run-time">Run Time (minutes)</label>
            </div>
        </div>
        <!-- Genre(s) -->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="genre" class="materialize-textarea" required></textarea>
                <label for="genre">Genre(s)</label>
            </div>
        </div>
        <!-- Budget -->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="budget" class="materialize-textarea" required></textarea>
                <label for="budget">Budget ($)</label>
            </div>
        </div>
        <!-- Earned -->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="earned" class="materialize-textarea" required></textarea>
                <label for="earned">Earned ($)</label>
            </div>
        </div>
        <!-- Submit Form -->
        <button class="btn waves-effect waves-light" formmethod="POST" formaction="{{ url_for('new_revu') }}" type="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

{% endblock %}
