<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Icon font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Loca stylesheet-->
    <link rel="stylesheet" href="static/css/style.css">

    <title>User Agreement | REVU</title>
</head>

<body>
    <!-- Navbar -->
    <nav>
        <div class="nav-wrapper">
            <a href="{{ url_for('user_agreement') }}" class="brand-logo"><i id="nav-icon" class="material-icons"><!--****************-->local_movies</i>REVU</a>
        </div>
    </nav>

    <!-- Content -->
    <div class="container">
        <h1 class="center-align">User Agreement</h1>

        <p class="justify-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi impedit tempore odit eaque dolore laboriosam dolores nam in nemo modi officia neque ea porro doloremque illo, distinctio, veritatis cupiditate itaque totam accusantium quidem
            ratione, dolor sed exercitationem. Odio voluptas ab recusandae aut ut dolorum optio, vel quam aperiam ipsum ad dolor fuga voluptatem a placeat suscipit eveniet iure tenetur eos fugiat necessitatibus, sit dolorem. Odio dignissimos numquam dolore
            officiis, nam voluptatum explicabo minima, neque perspiciatis. Adipisci nemo laborum iste, possimus quis repellat dolore vero perspiciatis, quibusdam libero, illo consequatur magni corporis incidunt totam error! Molestiae a voluptatibus recusandae
            tenetur explicabo ullam praesentium aperiam cum maxime eius, distinctio modi quidem accusamus, repudiandae totam provident fugit. Qui delectus repellendus impedit, mollitia neque ipsum deserunt itaque laboriosam cupiditate inventore labore
            consectetur vero aliquid sequi eum incidunt doloribus minus adipisci repellat consequatur doloremque perspiciatis. Officia, placeat odio voluptatum itaque, ut, debitis et velit possimus magni ipsam omnis. Dolores accusantium veniam autem ut
            unde sapiente, sint dolorum velit! Ullam nisi excepturi quia minima libero reprehenderit eveniet obcaecati voluptatem blanditiis iusto rerum praesentium ducimus deleniti at eum beatae modi quae, non, saepe quidem odio reiciendis hic magnam,
            eaque! Quo numquam commodi perspiciatis culpa. Eligendi, maxime sapiente dicta tempore, neque iste voluptatum dolorum placeat voluptates similique praesentium ut veritatis quas optio error, ratione eveniet nesciunt, velit. Quos magni ea, saepe
            expedita culpa tempore facilis similique earum aliquid ducimus atque. Aut non accusantium necessitatibus dolorem veniam optio tenetur consequatur maxime distinctio adipisci possimus accusamus provident alias quod, quas minima debitis laborum
            esse totam illum temporibus voluptate aliquam. Quo rem possimus voluptatibus, ipsum hic reiciendis voluptate expedita. Nobis, id, libero. Modi voluptate libero tempora ducimus accusamus possimus voluptatibus! Possimus quidem quis id, cum iste
            odit modi, voluptate recusandae necessitatibus sapiente deserunt consectetur harum a dolores beatae. Mollitia non, ducimus, perspiciatis quisquam a laboriosam sint nam ea necessitatibus quasi. Iure sunt nostrum reprehenderit voluptatem, hic
            autem non voluptatum velit dicta eaque placeat inventore amet voluptates. Nam voluptatibus adipisci quasi tempore porro, in quam nemo delectus nulla esse necessitatibus odit eius, repudiandae dolores rerum ducimus. Dolorem iste rem et maxime
            nulla voluptas necessitatibus tempora commodi animi nesciunt, fugit ea, illo sapiente deserunt omnis magni voluptates harum, consequatur nostrum dolores temporibus enim! Cum id rerum officia, perspiciatis, perferendis voluptatum impedit blanditiis
            sunt nulla illo eaque? Officia excepturi ipsam ullam in soluta, necessitatibus nulla magni possimus sit aliquam. Neque inventore quae, est magnam dolores saepe iusto, odit ipsum dicta libero nobis, perspiciatis, aspernatur. Repellendus quibusdam
            voluptatibus iure et hic excepturi assumenda quidem. Numquam at, nobis officia voluptatibus rem possimus est ad, deleniti, praesentium eius assumenda quisquam velit doloremque tempora veniam mollitia, consequuntur. Reprehenderit impedit harum
            dicta vitae quae provident maxime deleniti saepe eligendi numquam illum maiores aspernatur repellendus fuga, voluptatem voluptatum minima veritatis! Ex laboriosam ipsum, consequuntur! Facere quis reprehenderit itaque eos suscipit, maiores
            optio vitae laboriosam asperiores fugiat illo beatae, necessitatibus. Dignissimos, eius vero consectetur aliquam omnis consequatur nostrum at labore! Nisi doloremque cum placeat consequatur enim vitae provident, illum, dolores sapiente sit
            iure excepturi ab dolor error voluptate nostrum neque ad voluptates ut saepe eveniet rerum necessitatibus, odio. Aperiam beatae ipsam velit eius delectus optio illo cupiditate, itaque laboriosam dolores officia deserunt dolor sapiente autem
            culpa sunt magnam hic voluptates, fugiat repellendus. Natus, rem iste labore earum. Numquam, labore, dolor. Quis culpa sint amet est dicta recusandae nihil beatae temporibus molestiae, maxime totam ea accusamus impedit aut quae accusantium
            commodi maiores ratione. Hic voluptas, veritatis. Dicta iste ab laborum, ducimus mollitia suscipit reiciendis optio earum qui, voluptatem sunt dolore voluptates nam aspernatur velit necessitatibus unde iusto incidunt, alias nisi. Vel officiis
            id assumenda, sapiente est, quasi deserunt asperiores pariatur, aperiam magnam mollitia corrupti. Iusto, rem, nisi eos debitis consectetur consequatur magni fuga mollitia omnis quo eveniet animi, quam eum! Minima, quidem. Consequuntur, doloremque,
            illo! Doloremque maiores similique cumque itaque error totam dolorum quaerat impedit iusto consectetur suscipit obcaecati quasi, iste voluptas eius quibusdam, necessitatibus veritatis saepe asperiores dolorem nam! Numquam libero voluptas eligendi
            inventore, quas cum porro, similique est exercitationem ducimus quasi alias quisquam cumque necessitatibus omnis quis quidem. Fuga mollitia qui similique corrupti. Maxime vel doloremque, optio temporibus quam officiis dolore nisi est? Doloribus
            est aperiam repellat voluptatibus dolorem sint beatae fugit, sed ad error aut. Rem sequi odio quas ipsam saepe inventore voluptate provident cum adipisci sapiente ipsum quisquam ipsa neque, consectetur expedita laudantium, nam eos fuga. Nisi
            iure molestiae in temporibus sed veritatis fuga commodi deserunt id illum, nulla ea unde voluptatibus quas atque reprehenderit aut velit porro repudiandae eligendi minus voluptatem. Consequuntur nemo sit maxime provident ex labore ducimus,
            harum magnam dolore facilis illum placeat ullam explicabo, minus voluptatum, quae ut voluptatem, eos! Molestias omnis voluptate at facilis voluptatibus cupiditate optio eaque blanditiis, minus explicabo iste enim ab, fugit aut nesciunt reprehenderit
            odit incidunt, laboriosam sunt impedit! Excepturi molestias ab reprehenderit dolores praesentium omnis quasi ratione a, magnam voluptatibus recusandae hic voluptates aperiam aliquam nam quidem id iure corrupti cumque sequi delectus, asperiores
            repudiandae sed maiores expedita! Excepturi vel atque quam esse officiis, fuga optio sit culpa sapiente natus, quos blanditiis illo deserunt accusantium nostrum qui repudiandae soluta omnis ducimus voluptatem recusandae ab quisquam nihil impedit!
            Libero quasi est tempora temporibus atque expedita officiis qui assumenda iusto eveniet! Illo maxime quod quia labore autem, recusandae velit esse impedit, sapiente atque accusantium repudiandae eius minima! Eveniet facilis voluptates officiis
            pariatur porro nihil animi qui officia iure delectus corporis magnam reiciendis, molestias architecto, doloribus sed consectetur, accusantium quis nulla tempore ducimus! Eos sit magni minus aliquid doloribus officiis fugit dignissimos. Dicta
            ab doloribus adipisci quas alias delectus nulla itaque fugit sint error natus, porro provident totam sequi animi dolore suscipit, ipsum molestias impedit esse nobis ratione, dolorem maiores. Dicta nisi ipsam earum, ipsum dolore quod qui placeat
            dolorum natus rerum reprehenderit at amet ratione molestiae fuga quo hic architecto. Nisi minima rerum iste enim, id neque dolores quaerat qui doloribus rem. At vel mollitia, voluptas, quis eius molestiae id odit cumque sequi repudiandae dignissimos
            placeat hic animi, deleniti. Molestias.</p>
    </div>

    <!-- Footer -->
    <footer class="page-footer">
        <div id="top-footer" class="container">
            <div class="row center-align">
                <a href="{{ url_for('user_agreement') }}" id="footer-logo">
                    <!--*********************----><i id="footer-icon" class="material-icons">local_movies</i>REVU
                </a>
            </div>
        </div>
        <div id="btm-footer" class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="center-align">
                        © 2019 REVU
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Local JS script-->
    <script type="text/javascript" src="static/js/script.js"></script>
</body>

</html>
